:host {
   display: block;
   position: relative;

     padding-left: 29px;
     margin-top: 10px;
 }


.btn {
  border-width: 1px;
  border-radius: 4px;
  color: black;
  padding: 2px 8px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-left: 3px;
}

.btn:hover {
  background: #b8b8b8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}